SERVER_PORT=8080
SERVER_HOST=0.0.0.0
PUBLIC_SERVER_URL=http://localhost:8080

DATABASE_URL=postgres://postgres:postgres@localhost:5432/baza

BETTER_AUTH_SECRET=8yZ9CASMOlQdInztSdjQsp6ZX3nxKJOE

LOG_FILE_PATH=./logs/server.log
GROUP_PHOTOS_UPLOAD_DIR=./uploads/group-photos
FILE_UPLOAD_SERVICE=fs