# The port number the server will listen on (default: 8080)
SERVER_PORT=8080
# The host the server will bind to (default: 0.0.0.0)
SERVER_HOST=0.0.0.0
# The public URL of the server, used for generating links in emails
PUBLIC_SERVER_URL=http://localhost:8080

# The connection string for the database, in the format postgres://user:password@host:port/database
DATABASE_URL=postgres://postgres:postgres@localhost:5432/baza

# A random string used to sign authentication tokens
BETTER_AUTH_SECRET=8yZ9CASMOlQdInztSdjQsp6ZX3nxKJOE

# The file path where server logs will be written
LOG_FILE_PATH=./logs/server.log
# The file upload service to use for handling file uploads
FILE_UPLOAD_SERVICE=fs
# The directory where uploaded files will be stored (used only if FILE_UPLOAD_SERVICE == 'fs')
UPLOAD_DIR=./uploads/