# Expo apparently caches the env variables. So this file must always be completely filled. No
# defaults here. Also the app must be restarted to actually pickup on changes to this file.

EXPO_PUBLIC_SERVER_URL=http://192.168.1.80:8080
EXPO_PUBLIC_BYPASS_AUTH=true